@font-face {
  font-family: 'Helvetica-Bold';
  src: url('Helvetica-Bold.eot');
  src: url('Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Bold.svg#Helvetica-Bold') format('svg'),
       url('Helvetica-Bold.ttf') format('truetype'),
       url('Helvetica-Bold.woff') format('woff'),
       url('Helvetica-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

